<div class="voter-form">

  <h1>New Voter</h1>

  </div>
  <%= form_for(@voter) do |f| %>
    <div class="field">
      <%= f.label :first_name, "First Name" %><br />
      <%= f.text_field :first_name %>
    </div>
    <br>

    <div class="field">
      <%= f.label :last_name, "Last Name" %><br />
      <%= f.text_field :last_name %>
    </div>
    <br>

    <div class="field">
      <%= f.label :street, "Stree Address" %><br />
      <%= f.text_field :street %>
    </div>
    <br>

    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <br>

    <div class="field">
      <%= f.label :state, "State Abbreviation" %><br />
      <%= f.text_field :state %>
    </div>
    <br>

    <div class="field">
      <%= f.label :vote, "Your vote for this candidate?" %><br />
      <%= f.radio_button :vote, 'Support' %> Support <br>
      <%= f.radio_button :vote, 'Oppose' %> Oppose <br>
      <%= f.radio_button :vote, 'Undecided' %> Undecided <br>
    </div>
    <br>

    <div class="actions">
      <%= f.submit "Cast Vote" %>
    </div>

  <% end %>

  <br>

  <%= link_to 'Voter List', voters_path %>

<div class="voter-form">
